/*== ROOT ==*/

@import './node/Var-styles', './node/mediaQueries','./node/nav-menu', './node/lobby-styles-main', './node/footer-styles';

/*============ HEADER ==============*/

@mixin border-bottom{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

@mixin cards($img-url){
    width: 100%;
    height: 270px;
    background: url($img-url);
    background-repeat: no-repeat;
    background-size:100%;
}

.header-center{
    margin: 8% 0 2% 0;
}

.header-center>h2{
    line-height: 100px;
    text-align: center;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 3.5px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.253);

}

.header-center>h3{
    letter-spacing:4px;
    font-weight: 200;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.438);   
}

.header-nav{
    padding: 3% 6%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-categories{
    display: flex;
}

.nav-title{
    border-bottom: 2px solid #fff;
}

.nav-categories>button{
    width: 170px;
    height: 150px;
    border-radius: 20%;
    margin: 0 20px;
    justify-self: end;
    background-color: var(--Glass);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.267);
}

.nav-categories{

    .hardware:hover{
        background-color: var(--rojo-01);
    }
    .software:hover{
        background-color: var(--verde-01);
    }
    .conceptos:hover{
        background-color: var(--Azul-02);
    }
    .articulos:hover{
        background-color: var(--Gris-02);
    }

}

.nav-categories>button>a{
    text-decoration: none;
}

.nav-categories>button>a>img{
    width: 80px;
    height: 80px;
}

.nav-categories>button>a>h5{
    color: var(--Blanco);
    font-size: 25px;
    font-weight: 200;
}

.phrase{
    width: 60%;   
    margin: auto;
    margin-top: 2%;
    text-align: center;

    .text{
        font-size: 27px;
        font-weight: 200;
 
    }

    .harder{
        font-size: 25px;
        font-weight: 500;        
        text-align: end;
    }
}


/*================ GRID NAV =======================*/


.lobby-content{
    background: var(--Azul-01);
    padding: 7%;

    h2{
        color: var(--Blanco);
        font-size: 80px;
        font-weight: 500;
        padding-bottom: 8%;
        margin-left: 4%;
        text-shadow: 2px 2px 1.2px rgba(0, 0, 0, 0.253);
    }

    .lobby-grid{
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: auto;
        gap: 3%;
        width: 80%;
        margin: auto;
        justify-items: center;
        align-content: center;

        @include mq("tablet"){
            grid-template-columns: 1fr 1fr;
            gap: 2%;
        }

        @include mq("desktop"){
            grid-template-columns: 1fr;
            gap: 1%;
        }
    

        .grid-card{
            display: flex;
            flex-direction: column;
            width: 360px;
            height: auto;
            border-radius: 30px;
            align-items: center;
            overflow: hidden;
            position: relative;
            z-index: 1000;

            &:hover{
                transform: scale(1.05);
                opacity: 1;
            }

            a{
                text-decoration: none;
                color: #000;
            }

            .blank_space{
                
                padding: 18px 9px;
                width: 100%;
                background: var(--Blanco);
                overflow: hidden;
                position: relative;
                z-index: 600;          

                p{
                    margin: auto;
                    width: 70%;
                    text-align: center;
                    font-size: 23px;
                    font-weight: 500; 
                }
                
            }

            .content-space{

                background: var(--Amarillo-01);
                @include border-bottom();
                position: relative;
                z-index: 500;

                p{
                    width: 85%;
                    margin: auto;
                    padding: 5% 0;
                    
                }
            }

        }

    }
}

/*================== BG-CARDS EDITS ==================*/

/*--------------------- HARDWARE ----------------------*/

.Hrd-card-01{
    @include cards("/Imgs/katie-barrett-aLIJlPrrjRM-unsplash.jpg");
    background-position: 25% 70%;
}
/**/