
/* ======= LOBBY STYLES ======== */

@mixin border-bottom{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

@mixin cards($img-url){
    width: 100%;
    height: 270px;
    background: url($img-url);
    background-repeat: no-repeat;
    background-size:100%;
    background-color: #000;
}

.header-center{
    margin: 8% 0 2% 0;

    h2{
        line-height: 100px;
        text-align: center;
        font-size: 108px;
        font-weight: 700;
        letter-spacing: 3.5px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.253);
    }

    h3{
        letter-spacing:4px;
        font-weight: 200;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.438);   
    }
}

.header-nav{
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-categories{
    display: flex;
}

.nav-title{
    border-bottom: 2px solid #fff;
}

.nav-categories>button{
    width: 160px;
    height: 140px;
    border-radius: 20%;
    margin: 0 20px;
    justify-self: end;
    background-color: var(--Glass);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.267);
}

.nav-categories{

    .hardware:hover{
        background-color: var(--rojo-01);
    }
    .software:hover{
        background-color: var(--verde-01);
    }
    .conceptos:hover{
        background-color: var(--Azul-02);
    }
    .articulos:hover{
        background-color: var(--Gris-02);
    }

}

.nav-categories>button>a{
    text-decoration: none;
}

.nav-categories>button>a>img{
    width: 72px;
    height: 72px;
}

.nav-categories>button>a>h5{
    color: var(--Blanco);
    font-size: 25px;
    font-weight: 200;
}

.phrase{
    width: 60%;   
    margin: auto;
    margin-top: 2%;
    text-align: center;

    .text{
        font-size: 24px;
        font-weight: 200;
        font-weight: 300;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
 
    }


    .harder{
        margin-top: 3%;
        font-size: 25px;
        font-weight: 500;        
        text-align: end;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
    }

    
    .Stext,.Sharder{
        text-align: start;
    }
}


/*================ GRID NAV =======================*/


.lobby-content{
    background: #060015;
    padding: 3% 7%;

    h2{
        color: var(--Blanco);
        font-size: 80px;
        font-weight: 500;
        padding-bottom: 8%;
        margin-left: 4%;
        text-shadow: 2px 2px 1.2px rgba(0, 0, 0, 0.253);
    }

    .lobby-grid{
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: auto;
        gap: 3%;
        width: 80%;
        margin: auto;
        justify-items: center;
        align-content: center;

        @include mq("tablet"){
            grid-template-columns: 1fr 1fr;
            gap: 2%;
        }

        @include mq("desktop"){
            grid-template-columns: 1fr;
            gap: 1%;
        }
    

        .grid-card{
            display: flex;
            flex-direction: column;
            max-width: 360px;
            height: 100%;
            border-radius: 30px;
            align-items: center;
            overflow: hidden;
            position: relative;
            z-index: 1000;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
           

            &:hover{
                transform: scale(1.05);
                opacity: 1;
            }

            a{
                text-decoration: none;
                color: #000;
            }

            .blank_space{
                
                padding: 18px 9px;
                width: 100%;
                background: var(--Blanco);
                overflow: hidden;
                position: relative;
                z-index: 600;        
                

                p{
                    margin: auto;
                    width: 80%;
                    text-align: center;
                    font-size: 23px;
                    font-weight: 500; 
                }
                
            }

            .content-space{
                @include border-bottom();
                position: relative;
                z-index: 500;
                padding-bottom: 5%;
                height: 100%;
                

                p{
                    width: 85%;
                    margin: auto;
                    padding: 5% 0;

                    &::first-letter{
                        text-transform: uppercase;
                    }
                    
                }
            }

        }

    }
}

/*======================== BG =======================*/

.HLobby{
    background: #060015;
}

.HSpace{
    background-color: var(--rojo-02);

    p{
        color: #fff;
    }
}

.SLobby{
    background: #131313;
}
 
.SSpace{
    background-color: var(--Amarillo-01);

    p{
        color: #131313;
    }
}

.CLobby{
    background: var(--cafe-01);
}
 
.CSpace{
    background-color: var(--Amarillo-01);

    p{
        color: var(--Blanco);
    }
}

.ALobby{
    background: #00000e;
}
 
.ASpace{
    background-color: #3c0a46;

    p{
        color: #ffffff;
    }
}

/*================== BG-CARDS EDITS ==================*/

/*--------------------- HARDWARE ----------------------*/

#Srd-card-01{
    @include cards("../Imgs/katie-barrett-aLIJlPrrjRM-unsplash.jpg");
    background-position: 25% 70%;
    
}
#Srd-card-02{
    @include cards("https://images.unsplash.com/photo-1611532736579-6b16e2b50449?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1126&q=80");
    background-position: 25% 50%;
    
}
#Srd-card-03{
    @include cards("https://images.unsplash.com/photo-1574717025058-2f8737d2e2b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-position: 25% 35%;
}

#Hrd-card-01{
    @include cards("https://images.unsplash.com/photo-1591799264318-7e6ef8ddb7ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80");
    background-position: 25% 35%
}

#Hrd-card-02{
    @include cards("https://images.unsplash.com/photo-1542978709-19c95dc3bc7e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80");
    background-position: 25% 35%
}

#Hrd-card-03{
    @include cards("https://images.unsplash.com/photo-1610415303067-67a841b36fd5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
    background-position: 25% 50%
}

#Hrd-card-04{
    @include cards("https://images.unsplash.com/photo-1602837385569-08ac19ec83af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=626&q=80");
    background-position: 25% 50%
}
#Hrd-card-05{
    @include cards("https://images.unsplash.com/photo-1593687395549-400945fed803?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=735&q=80");
    background-position: 25% 50%
}
#Hrd-card-06{
    @include cards("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2012/10/3975-montar-fuente-alimentacion.jpg?itok=kDeX7_ng");
    background-position: 25% 50%
}