
/*============ ALL NAVS & BG header ============*/

@mixin header-main($img){
    background: url($img);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: var(--Blanco);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.253); 
}

@mixin header-lobbys($img){
    background: url($img);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: var(--Blanco);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.253);
    height: 100vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.658);
}

/*==== SPECIFIC ASPECTS ====*/

.header-top{
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}

.icons{

    width: 234px;
    justify-self: right;
    display: flex;
    a{
        width: 100%;
        margin-left: 3%;
        img{
            width: 100%;
        }
    }
}

.Logo{

    a{
        justify-self: center;
        display: flex;
        align-items: center;
        color: var(--Blanco);
        text-shadow: 0.5px 0.9px 0.2px rgba(0, 0, 0, 0.253);
        text-decoration: none;
        justify-content: center;

        h3{
            font-size: 50px;
        }

        #logo-icon, #logo-icon-yellowS{
            margin: 0 3%;
            width: clamp(10%,72px,30%)
        }
    }
    
}   

.bars{
    width: clamp(10%,234px,14%);
    
    right: 0;
    
    a{
        float: right;
    }
}

#menu-icon{
    width: 50px;
    height: 50px;
}

/*======= HEADER BG =======*/

.header-main{
    @include header-main("../Imgs/nasa-gYwfpVI2JzM-unsplash.jpg");
}

.header-hardware{
    @include header-lobbys("../Imgs/anas-alshanti-feXpdV001o4-unsplash.jpg");
    background-attachment: scroll;
}
.header-software{
    @include header-lobbys("../Imgs/windows-KXIWqtmvfxg-unsplash.jpg");
    background-attachment: scroll;
}
.header-conceptos{
    @include header-lobbys("../Imgs/gabriel-voltz-16fUCKyba8g-unsplash.jpg");
    background-position: 25% 30%;
}
.header-articulos{
    @include header-lobbys("../Imgs/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg");
    background-position: 25% 70%;
    background-attachment: scroll;
}
.header-blog-Páginas_Web{
    @include header-lobbys("../Imgs/stillness-inmotion-Gq3i2dnLGik-unsplash.jpg");
    background-position: 25% 20%;
    background-attachment: scroll;
}